<div class="section" id="gloss_section">
    <div class="section-header">
        <h2>Sense Selection</h2>
    </div>
<!--    <div class="row section-alert alert-info alert-dismissible">
        <ul>
            <li>A parser always has problems in Word Sense Disambiguation</li>
            <li>This tagging of word sense will improve the correctness of translation</li>
            <li>Just click on the corresponding word senses using gloss, then press 'Done'</li>
        </ul>
    </div> -->
    <div class="form-group" id="gloss_text"></div>
   <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <button id="gloss-submit" class="btn btn-primary" type="submit" data-uid="auto">Submit</button>
        </div>
    </div>
    <div id="translated_output">
        
    </div>
</div>
