<div class="section" id="mass_definite_noun_section">
    <div class="section-header">
        <h2>Tag Mass&Definite Nouns</h2>
    </div>
 <!--   <div class="row section-alert alert-info alert-dismissible">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->

    <div class="form-group ToolPage" id="mass_definite_text" style="overflow-y:scroll;height:400px;">
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <button id="mnt-submit" class="btn btn-primary section-submit" type="submit" data-uid="mnt">Submit</button>
        </div>
    </div>
</div>

