<div class="section" id="mv_section">
    <div class="section-header">
        <h2>Sense Selection</h2>
    </div>
<!--    <div class="row section-alert alert-info alert-dismissible">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->
    <div class="form-group" id="mv_text" style="overflow-y:scroll; height: 400px;"> 
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <button id="mv-submit" class="btn btn-primary" type="submit" data-uid="mv">Submit</button>
        </div>
    </div>
    <div id="translated_output">
        
    </div>
</div>
