<div id="sidebar-wrapper">
    <nav id="spy">
        <div class="navbar-header">
            <a class="navbar-brand" href="./"></a>
        </div>
        <ul class="sidebar-nav nav">
            <li id="input_link" class="nav_link active">
                <a href="#input_section">
                    Natural Text <!-- <div class="circle"></div> -->
                </a>
            </li>
<!--            <li id="complex_sentence_link" class="nav_link">
                <a href="#complex_sentence_section" data-scroll>
                    Mark Sentences  
                </a>
            </li> -->
            <li id="proper_noun_link" class="nav_link">
                <a href="#proper_noun_section" data-scroll>
                    Tag Proper Nouns  <!-- <div class="circle"></div> -->
                </a>
            </li>
            <li id="mass_definite_noun_link" class="nav_link">
                <a href="#mass_definite_noun_section" data-scroll>
                    Tag Mass/Definite Nouns  <!-- <div class="circle"></div> -->
                </a>
            </li>
            <li id="chunking_link" class="nav_link">
                <a href="#chunking_section" data-scroll>
                    Tag Chunks <!-- <div class="circle"></div> -->
                </a>
            </li>
            <li id="chl_link" class="nav_link">
                <a href="#chl_section" data-scroll>
                    CHL Text<!-- <div class="circle"></div> -->
                </a>
            </li>
            <li id="gloss_link" class="nav_link">
                <a href="#gloss_section" data-scroll>
                    Sense Selection<!-- <div class="circle"></div> -->
                </a>
            </li>
             <li id="translation_link" class="nav_link">
                <a href="#translation_section" data-scroll>
                    Translation<!-- <div class="circle"></div> -->
                </a>
            </li>
            <li id="feedback_link" class="nav_link">
                <a href="#feedback_section" data-scroll>
                    Submit Feedback <!-- <div class="circle"></div> -->
                </a>
            </li>
        </ul>
    </nav>
</div>


