<div class="section" id="translation_section">
    <div class="section-header">
        <h2>Translation</h2>
    </div>
<!--    <div class="row section-alert alert-info alert-dismissible">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->
    <div class="flip-button-area">
        <button class="flip-button" style="display:none">csv</button>
    </div>
    <div class="flip-container ToolPage" id="myCard">
        <div class="flipper">
            <div class="front">
                <!-- front content -->
                <div class="form-group" id="translation_output">
                    HERE YOU WILL BE SEEING THE TRANSLATION OF THE SENTENCES
                </div>
            </div>
            <div class="back" style="display:none">
                <!-- back content -->
                <div class="form-group" id="csv_text">
                    HERE YOU WILL BE SEEING CSV FORMAT
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <button id="translation-submit" class="btn btn-primary" type="submit" data-uid="translation" style="display:none">Translate</button>
        </div>
    </div>
</div>
